[submodule "atlas"]
	path = atlas
	url = ../atlas.git
[submodule "commandline"]
	path = commandline
	url = ../commandline.git
[submodule "hades"]
	path = hades
	url = ../hades.git
[submodule "apollo"]
	path = apollo
	url = ../apollo.git
[submodule "helios"]
	path = helios
	url = ../helios.git
[submodule "chronos"]
	path = chronos
	url = ../chronos.git
[submodule "demeter"]
	path = demeter
	url = ../demeter.git
